<h1>Hello there!</h1>

<form action="/greet" method="post">
  <label for="name">What's your name?</label><br>
  <input type="text" id="name" name="name"><br>
  <label>When's your birthday?</label><br>
  <label>day:</label>
  <input type="text" name="day"><br>
  <input type="submit" value="Submit">
</form>
